{% extends 'accounts/account_base.html' %}

{% block account_content %}

<h4>Dashboard</h4>
<p>Welcome <strong>{{ user.first_name }}</strong></p>

<hr>

<div class="dashboard-stats">

    <p>📦 <strong>Total Orders:</strong> {{ total_orders }}</p>

    <p>✅ <strong>Completed Orders:</strong> {{ completed_orders }}</p>
    <p>❌ <strong>Cancelled Orders:</strong> {{ cancelled_orders }}</p>
    <p>⏳ <strong>New Orders:</strong> {{ new_orders }}</p>
    <p>⚙️ <strong>Accepted Orders:</strong> {{ accepted_orders }}</p>

    <p>💰 <strong>Total Spent:</strong> ₹ {{ total_spent }}</p>

</div>

{% endblock %}