{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:420px; margin-top:40px;">
        <article class="card-body">
            <h4 class="card-title mb-4">Forgot Password</h4>

            <form method="POST" action="{% url 'forgot_password' %}">
                {% csrf_token %}

                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    Send Reset Link
                </button>
            </form>

        </article>
    </div>
</section>
{% endblock %}